:root {

    --main_color: rgba(255, 127, 80, 1);
    --background-color: #008080;
    --light-color: #FFF2EE;
    --paragraph-color: #666666;
    --sections-background: rgba(235, 245, 245, 1);
    --black-paragraph-color: #1A1A1A;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {

    width: 100%;
    direction: rtl;
    font-family: "Noto Kufi Arabic", sans-serif;
    background-color: #FAFAFA !important;


}

.mainSections {

    margin: 0 auto;
    padding: 0;
    background-color: var(--background-color);
    width: 100%;
    background-image: url("../assets/imgs/home_backGround.png");
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
}

.navbar_icon {
    order: 2;
    margin-right: 1rem;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.navbar_icon img {
    margin-left: 20px;
    width: 298px;
    height: 80px;

}

.navbar-toggler {
    order: 3;
}

.navbar-nav {
    text-align: center;
    flex-grow: 1;
    display: flex;
    align-items: center;
    margin-bottom: 5px
}

.navbar-nav li {
    margin: 0 10px;

}

.navbar-nav .nav-link.active {
    color: var(--main_color);
}

.navbar-collapse {
    justify-content: center;
    align-items: center;
}

.nav-link {
    color: aliceblue;
    padding: 8px 4px 8px 4px !important;
    font-size: 14px;
    font-weight: 700;
}



.nav-link:hover {
    color: var(--main_color) !important;

}

.active {
    color: var(--main_color) !important;
}

.sections_Number {

    margin-top: 4rem;
    padding: 10px 0 30px 0;
}

.sections_Number p {

    font-size: 16px;
    font-weight: 500;
    line-height: 32.4px;
    margin-top: 20px;

}

.sections_Number span {

    color: var(--main_color);

}

.main {

    width: 100%;
}

.image img {
    width: 280px;
    height: 370px;
    border-radius: 4px;
    border: 2px solid #fff;
}

.share_book {

    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    width: 204px;
    height: 20px;
}

.share_book p {

    font-size: 14px;
    font-weight: 500;
    line-height: 25.2px;

}

.social_media2 {

    display: flex;
    justify-content: space-between !important;
    align-items: center;
    gap: 15px;
}


.social_media2 img {

    width: 20px;
    height: 20px;
}

.books_details {

    width: 100%;
}

.first_section_container {


    padding: 40px;
    border-radius: 4px;
    border: 1px solid #EBEBEB;
    background-color: #ffffff;
    box-sizing: border-box;
}

.header_section {

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.book_author_evaluation {

    display: flex;
    flex-direction: column;
}

.book_author_evaluation h2 {

    font-size: 24px;
    font-weight: 700;
    line-height: 43.2px;
}

.book_author_evaluation p {

    font-size: 16px;
    font-weight: 700;
    line-height: 28.8px;
    color: var(--background-color);
}


.evaluation {

    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 16px;
    gap: 10px;

}

.evaluation h3 {

    font-size: 18px;
    font-weight: 700;
}

.evaluation span {

    font-size: 14px;
    font-weight: 500;
    line-height: 25.2px;
    color: var(--paragraph-color);
}

.books_btn_style button {

    width: 149px;
    height: 48px;
    padding: 0px 16px 0px 16px;
    gap: 8px;
    border-radius: 2px;
    margin-inline: 10px;
    box-sizing: border-box;
    border: none;

}



.books_btn_style div {

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5px;

}



.books_btn_style div>h2 {


    font-size: 14px;
    font-weight: 700;
    line-height: 25.2px;
    margin-top: 5px !important;
}

.show_book {

    background-color: var(--main_color);
}

.download_book {

    background-color: var(--light-color);
    color: var(--main_color);
}

.about_book {

    width: 872px;
    /* height: 85px; */
    margin-top: 30px;


}

.about_book p {

    font-size: 14px;
    font-weight: 400;
    line-height: 25.2px;
    color: var(--black-paragraph-color);
}

#showMoreBtn {

    font-size: 14px;
    font-weight: 700;
    line-height: 25.2px;
    color: var(--main_color);
    cursor: pointer;
}

tr {
    width: 872px;
    height: 48px;
    gap: 24px;
    padding: 20px;
}

.table-striped tbody tr:nth-child(odd)>td {
    background-color: #F4F5F8 !important;
}

.table-striped tbody tr:nth-child(even)>td {
    background-color: #FFFFFF !important;
}

.overview {

    padding: 20px 40px;
    border-radius: 4px;
    border: 1px solid #EBEBEB;
    background-color: #ffffff;
    box-sizing: border-box;
    margin: 40px 0;
}

.overview h2 {

    font-size: 18px;
    font-weight: 700;
    line-height: 32.4px;
    color: var(--black-paragraph-color);
}

.overview ul {

    margin-top: 25px;
}

.overview ul>li {

    margin: 20px;
    font-size: 14px;
    font-weight: 500;
    line-height: 25.2px;
}

.author_info {

    display: flex;
    flex-direction: row !important;
    gap: 20px;
}

.author_info img {
    width: 100px;
    height: 139px;
}

.author_info span {
    font-size: 14px;
    font-weight: 500;
    /* line-height: 25.2px; */
    color: var(--black-paragraph-color);
}

.author_about {
    display: flex;
    flex-direction: column;
}

.reviews {

    padding: 20px 40px;
    border-radius: 4px;
    border: 1px solid #EBEBEB;
    background-color: #ffffff;
    box-sizing: border-box;
    margin: 40px 0;
}

.reviews_header {

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.reviews_header h2 {

    font-size: 18px;
    font-weight: 700;
    line-height: 32.4px;
    margin-top: 5px;
}

.reviews_comment {

    display: flex;
    gap: 20px;
    margin-top: 20px;
}

.reviwer_image img {

    width: 64px;
    height: 64px;
    border-radius: 50%;
}


.reviwer_name {
    display: flex;
    justify-content: start;
    gap: 10px;
}

.reviwer_name h3 {

    font-size: 16px;
    font-weight: 500;
    line-height: 28.8px;
}

.rete img {

    width: 80px;
    height: 16px;
}

.reviwer_name span {

    font-size: 12px;
    font-weight: 500;
    line-height: 28.8px;

}

.reviewer_comment p {

    font-size: 14px;
    font-weight: 400;
    line-height: 25.2px;
    color: #666666;
    margin: 10px auto;
}

.show_more {
    display: flex;
    justify-content: center;
    align-items: center !important;
    color: var(--main_color);
    margin-top: 10px;
    cursor: pointer;
}

.related_books {
    padding: 20px 40px;
    border-radius: 4px;
    border: 1px solid #EBEBEB;
    background-color: #ffffff;
    box-sizing: border-box;
    margin: 40px 0;
}

.back_next_btns button {

    width: 40px;
    height: 40px;
    border: none;
    margin-inline: 10px;
}

.next {

    background-color: var(--light-color);
}



.most_readed {

    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: 100%;
}


.most_readed-paragraph h3 {

    font-size: 24px;
    font-weight: 700;
    line-height: 43.2px;
    width: 516px;
    color: black !important;



}


.most_readed_wrapper ul {
    padding: 0;
    overflow: hidden !important;
}

.most_readed_items li {
    list-style: none;
    border: 2px solid white;
    border-radius: 2px;

}

.most_readed_wrapper {
    position: relative;
    padding: 20px !important;
}

.most_readed_wrapper::before,
.most_readed_wrapper::after {
    position: absolute;
    top: 0;
    z-index: 1;
    content: "";
    display: block;
    width: 20px;
    height: 100%;
}

.most_readed_item {
    display: flex;
    justify-content: center;
    align-items: center;
}

.most_readed_items img {

    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: saturate(1.5);

}

.most_readed_items {
    position: relative;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    font-size: 0;
    cursor: pointer;
}

.most_readed_items.active {
    cursor: grab;
}

.most_readed_item {
    display: inline-block;
    margin-left: 20px;
    /* Margin value */
    user-select: none;
    width: 50%;
    height: 130px;
    font-size: 33px;
    font-weight: bold;
    line-height: 130px;

}

.most_readed_item:last-child {
    margin-right: 20px;
}

.most_readed_wrapper {
    padding: 70px;
    overflow: hidden;
}

.most_readed_item {
    width: auto !important;
    height: auto !important;
    border: 2px solid white;

}

.most_readed_item a {

    text-decoration: none !important;
}

.most_readed_item img {

    width: 216px;
    height: 288px;

}

.most_readed_item h3 {

    font-size: 16px;
    font-weight: 700;
    line-height: 28.8px;
    color: black;

}

.most_readed_item p {


    font-size: 14px;
    font-weight: 500;
    line-height: 25.2px;
    color: var(--black-paragraph-color);


}


.footer {

    width: 100%;
    background-image: url(../assets/imgs/123.png);
    background-color: rgba(0, 128, 128, 1);
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center !important;
    align-items: center !important;
    flex-direction: column;
    margin: 5rem 0 0 0;
    color: #fff;
}

.footer_paragraph {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 50px 0;
}

.footer_paragraph p {

    width: 837px;
    height: 35px;
    font-size: 14px;
    font-weight: 500;
    line-height: 25.2px;
    text-align: center;
    margin-top: 10px;

}

.footer_icons {

    display: flex;
    justify-content: center;
    align-items: center;
}

.social_media {

    margin-inline: 24px;
    border: 2px solid var(--main_color);
    border-radius: 50%;
    padding: 10px;
}

.social_media:hover {

    background-color: var(--main_color);
}

.footer_links {

    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.footer_links a {

    text-decoration: none;
    color: #fff;
    margin-inline: 48px;
}

.footer_links a:hover {

    color: var(--main_color);
}

hr {
    border: 2;
    clear: both;
    display: block;
    width: 96%;
    /* background-color:#3ab5b5 !important; */
    height: 1px;
    margin-top: 50px !important;
}

.all_rights {

    padding: 10px;
    font-size: 14px;
    font-weight: 500;
    line-height: 25.2px;

}

.modal-header {

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px;
    background-color: #FAFAFA;
    border: 1px solid #F2F4F5;
}

.close {

    width: 40px;
    height: 40px;
    border-radius: 2px;
    border: 1px solid var(--main_color);
    background-color: var(--light-color);
}


.modal {

    width: 100%;
}

.modal-dialog {
    display: flex;
    align-items: center;
    min-height: calc(100% - 1rem);
}

.modal-body {
    width: 100%;
    padding: 0 24px;
    gap: 24px;
    display: flex;
    flex-direction: column;
    overflow: auto;

}

.modal-body h2 {


    font-size: 14px;
    font-weight: 500;
    line-height: 25.2px;

}

.modal-body img {


    width: 120px;
    height: 24px;

}

textarea {

    border-radius: 2px;
    border: 1px solid #EBEBEB;
    background-color: #FAFAFA;
    padding: 10px;
    color: #999999;
    resize: none;
    margin-bottom: 30px;
}

.modal-footer button {

    width: 120px;
    height: 48px;
    padding: 16px;
    gap: 8px;
    border-radius: 2px;
    border: 1px solid var(--main_color);
    display: flex;
    justify-content: center;
    align-items: center;
  
}
.cancel_btn{

    color: var(--main_color);
    background-color: #FFFFFF;
}
.add_btn{

    background-color: var(--main_color);
    color: #1A1A1A;
    font-size: 14px;
    font-weight: 500;


}
@media screen and (max-width:1250px) {
    .books_details {

        display: flex !important;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 50px;
        width: auto !important;
    }

    .col-3,
    .col-9 {
        width: auto;
    }

    .image img:hover {

        filter: saturate(1.5);
    }

    .share_book {
        justify-content: center;
    }

    .about_book {
        width: auto !important;
        height: auto;
        max-width: 100%;
        word-wrap: break-word;

    }

    .most_readed {

        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .most_readed_wrapper {

        width: 90%;
        margin-top: 0;
    }

    .most_readed-paragraph {

        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .most_readed-paragraph h3,
    .most_readed-paragraph p {

        width: auto;
    }

}


@media screen and (max-width:900px) {

    .footer_paragraph p {

        width: auto;
    }
}

@media screen and (max-width:769px) {

    .sections_Number {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .sections_Number p {

        font-size: 12px;
        font-weight: 500;
        line-height: 32.4px;
        margin-top: 20px;

    }

    .header_section {

        flex-direction: column;
        gap: 15px;
        justify-content: center;
        align-items: center;
    }

    .about_book p {

        font-size: 12px;
        margin: 60px auto;
        line-height: 20px;
    }

    .table-striped tbody tr>td {


        font-size: 12px;
    }

    .overview {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .about_book p {

        margin: 0;
    }

    .overview ul {

        margin-top: 15px;
    }

    .overview ul>li {

        margin: 20px 0;
        font-size: 11px;

    }

    .author_info {

        flex-direction: column !important;
        justify-content: center;
        align-items: center;
    }

    .author_about {

        justify-content: center;
        align-items: center;
    }

    .footer_paragraph p {

        width: auto;
    }

    .footer_icons {
        margin-top: 10px;
    }

    .footer_links a {

        margin-inline: 30px;
        font-size: 15px;
        display: flex;
        justify-content: space-between;
        align-items: start;
        margin: auto !important;
        ;
    }
}

@media screen and (max-width:480px) {
    .navbar_icon img {
        width: 120px;
        height: 70px;
    }

    .navbar-toggler {
        width: 50px;
    }

    .search-icon span {
        display: none;
    }

    .books_btn_style {

        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .image img {

        width: 200px;
        height: 300px;
    }

    .book_author_evaluation h2 {

        font-size: 22px !important;
        font-weight: 700;
        line-height: 40.2px;
    }

    .book_author_evaluation span {

        font-size: 12px !important;
        font-weight: 400 !important;
        line-height: 20.2px;
    }

    .evaluation h3 {
        font-size: 12px !important;
    }

    .evaluation span {
        font-size: 12px;
    }

    .overview ul {

        margin-top: 18px;
    }

    .overview ul>li {

        font-size: 10px;
        line-height: 2;
    }

    .author_about h2 {

        font-size: 15px;
    }

    .author_about span {

        font-size: 15px;
    }

    .reviews_comment,
    .reviwer_name,
    .rate,
    .reviews_header {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .most_readed_item {
        width: 33%;
    }

    .footer_paragraph img {

        width: 220px;
    }

    .footer_paragraph p {

        font-size: 10px;
    }

    .footer_icons {

        margin-top: 30px !important;
    }

    .footer_links {

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 8px;
    }

    .all_rights {

        font-size: 10px;

    }

}